extends layout.pug

include utils.pug

block content
  div
    h2= question.title
    div
      p= question.question
    div
      each answer in question.Answers
        div(class='answer-container' id=`answer-${answer.id}-container`)
          p= answer.answer
          if answer.user_id === sessionUserId
            a(href=`/answers/${answer.id}/edit` class='main-btn') Edit
            form(action=`/questions/${question.id}/answers/${answer.id}` method='delete')
              input(type="hidden" name='_csrf' value=csrfToken)
              button(class='delete-btn' id=`question-${question.id}-delete-answer-${answer.id}`) Delete
    div
      form(action=`/questions/${question.id}/answers` method='post')
        input(name='_csrf' type='hidden' value=csrfToken)
        div
          label(for="answer" )
          textarea(name="answer")
        div
          button.main-btn Answer
