extends layout.pug

append head
  //- add page specific js
  script(src="/javascripts/votes.js" type="module" defer)

include utils.pug

block content
  div(class='question-container' id=`question-${questionId}-container`)
    div
      div(class='answer-header')
        h1(class='question-title')= question.title
        div
          if question.user_id === sessionUserId
            a(href=`/questions/${question.id}/edit` class='answer-btn') Edit
            form(action=`/questions/${question.id}/delete` method='post')
              input(type="hidden" name='_csrf' value=csrfToken)
              button(class='main-btn question-delete-btn' id=`delete-question-${question.id}`) Delete
      p= question.question
      div
        form(action=`/questions/${question.id}/answers` method='post' class='main-answer-form')
          +validationErrorSummary(errors)
          div(class='answer-container answer-form-container')
            input(name='_csrf' type='hidden' value=csrfToken)
            div
              label(for="answer" )
              textarea(name="answer" placeholder='Type your answer here...' require)
            div
              button(class='answer-btn') Submit answer
      h2 Answers
      div.answers-list
        each answer in question.Answers
          div(class='answer-container dynamic-answer-wrapper' id=`answer-${answer.id}-container`)
            div.vote-container
              button(href=`/answers/${answer.id}/votes` class='vote-btn up-vote-btn' id=`upvote-answer-${answer.id}`) Up vote
              p(id=`answer-${answer.id}-voteScore`) #{voteScore}
              button(href=`/answers/${answer.id}/votes` class='vote-btn down-vote-btn' id=`downvote-answer-${answer.id}`) Down vote
            p(class='answer-content')= answer.answer
            div.answer-controls-right
              if answer.user_id === sessionUserId
                a(href=`/answers/${answer.id}/edit` class='answer-btn') Edit
                form(action=`/questions/${question.id}/answers/${answer.id}` method='delete')
                  input(type="hidden" name='_csrf' value=csrfToken)
                  button(class="main-btn" id=`question-${question.id}-delete-answer-${answer.id}` class='answer-dlt-btn') Delete
