extends layout.pug

include utils.pug

block content
  div
    h2= question.title
    div
      p= question.question
    div
      each answer in question.Answers
        p= answer.answer
    div
      form(action=`/questions/${question.id}/answers` method='post')
        input(name='_csrf' type='hidden' value=csrfToken)
        div
          label(for="answer" )
          textarea(name="answer")
        div
          button.test-btn Answer
