extends layout.pug

include utils.pug

block content
  div(class='question-container' id=`question-${questionId}-container`)
    h2= question.title
    div
      p= question.question
    div
      if question.user_id === sessionUserId
            a(href=`/questions/${question.id}/edit` class='main-btn') Edit
            form(action=`/questions/${question.id}/delete` method='post')
              input(type="hidden" name='_csrf' value=csrfToken)
              button(class='question-delete-btn' id=`delete-question-${question.id}`) Delete
    div
      each answer in question.Answers
        div(class='answer-container' id=`answer-${answer.id}-container`)
          p= answer.answer
          div
            button(href="" class='vote-btn up-vote') Up vote
            //- p=voteCounter
            button(href="" class='vote-btn down-vote') Down vote
          if answer.user_id === sessionUserId
            a(href=`/answers/${answer.id}/edit` class='main-btn') Edit
            form(action=`/questions/${question.id}/answers/${answer.id}` method='delete')
              input(type="hidden" name='_csrf' value=csrfToken)
              button(class='answer-delete-btn' id=`question-${question.id}-delete-answer-${answer.id}`) Delete
    div
      form(action=`/questions/${question.id}/answers` method='post')
        input(name='_csrf' type='hidden' value=csrfToken)
        div
          label(for="answer" )
          textarea(name="answer")
        div
          button.main-btn Answer
